@import url("https://fronts.gooleapis.com/css2?family=krona+One&display=swap");
@import url("https://fronts.gooleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,1000..900;1,1000..900&display=swap")

:root{
    --color-primario: #704264;
    --color-secundario: #BB8493;
    --color-terciario: #DBAFA0;
    --color-hover: #272727;

    --fuente-montserrat: "Montserrat", sans serif;
    --fuente-krona: "krona One", sans serif;

}

* {
    padding:0;
    margin:0;
}   

body{
    box-sizing: border-box;
    background-color: var(--color-primario);
    color:var(--color-secundario);
}

.header{
    padding: 2% 0% 0% 15%;
}

.header__menu{
    display: flex;
    gap: 80px;
}

.header__menu__link{
    font-family: var(--fuente-montserrat);
    font-size: 24px;
    font-weight: 600;
    color: var(--color-terciario);
    text-decoration: none;
}

.presentacion{
    padding: 6% 15%;
    /*se quito el height: 100vh;*/
    display: flex;
    align-items: center;
    /*remplazar margin: 10% 15%; por padding*/
    justify-content: space-between;
}

.presentacion__contenido{
    width: 615px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.presentacion__contenido__titulo{
    font-size: 36px;
    font-family: var(--fuente-krona);
}

.titulo-destaque{
    color: var(--color-terciario);
}
.presentacion__contenido__texto{
    font-family: var(--fuente-montserrat);
    font-size: 24px;
}

.presentacion__enlaces{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    gap: 32px;
}

.presentacion__enlaces__subtitulo{
    font-family: var(--fuente-krona);
    font-size: 24px;
    font-weight: 400;
}

.presentacion__enlaces__link{
    width: 378px;
    /*background-color: #22D4FD;*/
    text-align: center;
    font-size: 24px;
    font-weight: 600;
    padding: 21.5px 0;
    border-radius: 16px;
    text-decoration: none;
    color: var(--color-secundario);
    font-family: var(--fuente-montserrat);
    border: 2px solid var(--color-terciario);
    display: flex;
    justify-content: center;
    gap: 10px;
}

.presentacion__enlaces__link:hover{
    background-color: var(--color-hover);
}

.footer{
    background-color: var(--color-terciario);
    padding: 24px;
    color:var(--color-primario);
    text-align: center;
    font-family: var(--fuente-montserrat);
    font-size: 24px;
    font-weight: 400px;
}
/*strong{
    color: aqua;
}*/
